.menu {
  &__img {
    width: 100%;
    height: 231px;
    object-fit: cover;
  }

  &__group {
    position: relative;
    background-color: #f6f6f6;
    border-top-right-radius: $menu-border-radius;
    border-top-left-radius: $menu-border-radius;
    margin-top: -$menu-border-radius;
    //z-index: 2;
  }

  &__titre {
    display: flex;
    font-family: "Shrikhand";
    font-weight: bold;

    font-size: 18px;
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
  }

  &__coeur {
    display: flex;
    width: 30px;
    height: 30px;
    position: relative;
  }

  .fa-heart {
    position: absolute;
    font-size: 25px;
    top: 0;
  }

  &__line {
    text-transform: uppercase;
    // position: relative;
    padding-bottom: 10px;
    //margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: solid 3px $bg-primary-color;
    width: 45px;
    margin-bottom: 10px;
    // &::after {
    //  content: "";
    //  display: block;
    //  width: 50px;
    //  height: 3px;

    //  left: 0;
    //  bottom: 0;
    //  background-color: $bg-primary-color;
    // position: absolute;
    //}
  }

  &__menu {
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    background-color: white;
    overflow: hidden;
    animation: slidAnim 3s;
    margin-bottom: 10px;
  }

  &__cadre {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__text {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__prix {
    overflow: hidden;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 20px;
  }

  &__detail {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__articles {
    padding: 0px 10px 0px 10px;
  }

  &__check {
    background-color: #99e2d0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    padding: 25px;
    margin-right: -$button-width;
    width: $button-width;
    transition: margin-right 0.5s;
  }

  &__menu:hover &__check {
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  .menu {
    &__group {
      margin-left: 100px;
      margin-right: 100px;
    }

    &__content {
      justify-content: center;
      margin-bottom: 10px;
    }

    &__articles {
      margin: 0 150px;
    }
  }
}
