//buton reserver
.reserver__btn:hover {
  transform: scale(1.02);
  opacity: 0.9;
}
//animation pour le coeur

.fa-heart:hover {
  position: absolute;
  color: #9356dc;
  font-weight: bold;
  transition-duration: 0.5s;
}

.resto__coeur {
  opacity: 0;
  transition-property: all;
  transition-duration: 2s;
}
.resto__coeur:hover {
  opacity: 1;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
}

//animation menu
@keyframes slidAnim {
  from {
    transform: translatey(50px);
    opacity: 0;
  }
  to {
    transform: translatey(0);
    opacity: 1;
  }
}
