//buton reserver
.reserver__btn:hover {
  cursor: pointer;
  border-radius: 25px;

  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.15) 100%
    ),
    linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
//section Restaurants
.fa-heart:hover {
  position: absolute;
  color: #9356dc;
  font-weight: bold;
  transition-duration: 0.5s;
}
